/* Empty. Add your own CSS if you like */
.center{
    text-align: center;
}

.tab-item{
    max-width: none;
}

.footer{
    position: fixed;
    margin-bottom: 0;
}

.angular-google-map-container { height: 75vh;}
.imgcenter {
    position: fixed;
    text-align: center;
    z-index: 999;
}

.scroll-content{
    top:43px !important;;
}

.footer{
    bottom:0;
    width:100%;
}

.popup-container .popup {
    width: 300px;
}

.popup-body {
    overflow: auto;
}

.spinner {
    position: absolute;
    top: 45%;
    right: 5%;
}

.item-checkbox {
    padding-left: 40px;
    border: none;
}

.item-checkbox .checkbox {
    position: absolute;
    top: 50%;
    right: 8px;
    left: -3px;
    z-index: 3;
    margin-top: -18px;
}

.bar .button.button-icon {
    font-size: 14px;
}

.hideGaram{
    display: inline;
}

@media only screen and (max-width: 350px) {
.hideGaram{
    display:none;
}
    .col-34{
        width:20% !important;
        flex: 0 0 20%;
        text-align: center;
    }

    .col-33{
        width: 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .bar.button{
        padding: 0 0;
    }
}

.addd{
    border: none !important;
}

.spinner svg{
    width: 25px;
    height: 25px;
}

.img-list{
    border-radius: 50%;
    position: absolute;
    margin-top: 5px;
    /*margin-left: -23px;*/
    height: 15px;
    width: 15px;
}

.imageUploading{
    position: relative;
    margin-right:25px;
}

.errorUploading{
    position: absolute;
    color:rgb(231, 39, 23);
    z-index: 1;
    margin-left: 10px;
}
.uploadSuccess{
    position: absolute;
    color: green;
    z-index: 1;
    margin-left: 10px;
}

.uploadStatus{
    position: relative;
    font-size: small;
}

.notifModal{
    width: 100%;
    bottom: 25%;
    text-align: center;
    position: absolute;
}

.notif{
    background-color: rgb(74, 69, 69);
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
}

.countBox{
    font-size: 13px;
    font-weight: 600;
    z-index: 1;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: rgb(231, 39, 23);
    position: absolute;
    margin-left: 18px;
    margin-top: -6px;
    min-width: 20px;
    min-height: 20px;
    padding: 1px 5px;
}