<ion-view view-title="Owner Contact">
    <div class="bar bar-header">
        <h1 class="title">Owner Contact</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showOptionList();"></button>
    </div>
    <ion-content overflow-scroll="true">
        <div ng-if="showOptions" ng-include="'templates/options.html'"></div>
        <div class="list" ng-if="!showOptions">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Owner Name</span>
                <input type="text" placeholder="Harke boro" ng-model="spots.owner">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Contact No.</span>
                <input type="text" placeholder="" ng-model="spots.contact">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="harke@yatafarke.com" ng-model="spots.email">
            </label>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button" ui-sref="form2">Previous</button>
        <div class="title">  </div>
        <button class="button" ui-sref="form4">Next</button>
    </div>
</ion-view>