<ion-view view-title="At last">
    <div class="bar bar-header">
        <h1 class="title">Additional Info</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showOptionList();"></button>
    </div>
    <ion-content >
        <div ng-if="showOptions" ng-include="'templates/options.html'"></div>
        <div class="list" ng-if="!showOptions">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <textarea ng-model="spots.notes" placeholder="Any notes about this spot?" style="height:125px;"></textarea>
            </label>
            <br>
            <div class="center">
                <button class="button button-assertive" ng-click="app.takePicture();">Take a Picture</button>
            </div>
            <div >
                <div ng-repeat="img in spots.image" style="float: left; padding: 5px 10px; ">
                    <img  style="width:150px;"  ng-src="{{img.name}}" />
                </div>
            </div>

        </div>

    </ion-content>
    <div class="bar bar-footer">
        <button class="button" ui-sref="form">Previous</button>
        <div class="title">  </div>
        <button class="button" ng-click="saveData(spots);" >Save</button>
    </div>

</ion-view>