<ion-view view-title="Business Contact">
    <div class="bar bar-header">

        <h1 class="title">Business Contact</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showOptionList();"></button>
    </div>
    <ion-content overflow-scroll="true">
        <div ng-if="showOptions" ng-include="'templates/options.html'"></div>
        <div class="list" ng-if="!showOptions" style="padding-bottom:50px;">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Phone No.</span>
                <input type="text" placeholder="eg.01-4242424" ng-model="spots.contact">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="yastai@testai.com" ng-model="spots.email">
            </label>
            <label class="item item-input item-stacked-label" >
                <span class="input-label">Website</span>
                <input type="text" placeholder="agadikei.com" ng-model="spots.website">
            </label>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button" ui-sref="form">Previous</button>
        <div class="title">  </div>
        <button class="button" ui-sref="form3">Next</button>
    </div>
</ion-view>