<ion-view >
    <div class="bar bar-header">
        <h1 class="title">nLocate Spots | Business Info</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showOptionList();"></button>
    </div>

    <ion-content >
        <div ng-if="showOptions" ng-include="'templates/options.html'"></div>
        <div ng-if="showFullMap && !showOptions" ng-include="'templates/map.html'"></div>

        <div class="list" ng-if="!showOptions && !showFullMap"  style="padding-bottom: 50px;">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Kirana Pasal" ng-model="spots.name">
                <p ng-if="emptyName" style="color: red">Name is required.</p>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" placeholder="Lazimpat" ng-model="spots.address">
                <p ng-if="emptyAddress" style="color: red">Address is required.</p>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Landmark</span>
                <input type="text" placeholder="Pipalbot ko tuppo ma" ng-model="spots.landmark">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Category
                </div>
                <select ng-model="spots.categories" ng-options="category for category in categories">
                    <option value=""> Select a category </option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <div class="center">
                    <button class="button icon-left ion-android-locate " ng-click="getCurrentLocation();">Get Location</button>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="input-label">Latitude</span>
                        <input type="number" placeholder={{latitude}} ng-model="spots.latitude" readonly>
                    </div>
                    <div class="col">
                        <span class="input-label">Longitude</span>
                        <input type="number" placeholder={{longitude}} ng-model="spots.longitude" readonly>
                    </div>
                </div>
                <p ng-if="emptyLatlng" style="color: red">Location is required.</p>

            </label>
            <button class="button button-full button-positive icon ion-android-navigate" ng-if="locationAayo" ng-click="showMap();">
                View on Map
            </button>

            <!--<label class="item item-input item-stacked-label">-->

            <!--</label>-->
        </div>


        </div>
    </ion-content>
    <div class="bar bar-footer">
        <!--<button class="button button-clear">Previous</button>-->
        <div class="title">  </div>
        <button class="button" ng-click="validateForm(spots.name, spots.address, spots.latitude)">Next</button>
        <!--<button class="button" ui-sref="form4">Next</button>-->
    </div>
</ion-view>