
<div class="map"  style="display:block; margin-top: 0; height: 90vh;">
    <img src="img/marker-d.png" alt="marker image" style="z-index: 999; position: absolute; margin-left: 46.6%; margin-top:32vh;" />
    <ui-gmap-google-map center='map.center'
                        zoom='map.zoom'
                        options='map.options'
                        draggable='true'
                        events='map.events'
                        id="map-container"
            >
    </ui-gmap-google-map>
    <button class="button button-full button-positive ion-thumbsup" ng-click="hideMap();">
        OK!
    </button>
</div>
