<div class="list options" style="height:100vh;" ng-controller="ListController" >

    <a class="item item-icon-left " ng-click="changeState();" ui-sref="spotList" ui-sref-opts="{reload: true}" >
        <i class="icon ion-ios-list"></i>
        View Spots
        <!--<span class="badge badge-assertive">{{spotsLength}}</span>-->
    </a>

    <a class="item item-icon-left" ui-sref="sync" ui-sref-opts="{reload: true}" ng-click="changeState();">
        <i class="icon ion-shuffle"></i>
        Sync Spots
    </a>
    <a class="item item-icon-left"  ng-click="createFile();">
        <i class="icon ion-clipboard"></i>
        Write to FIle
    </a>
    <!--<a class="item item-icon-left"  ng-click="createZip();">-->
        <!--<i class="icon ion-clipboard"></i>-->
        <!--Create Zip-->
    <!--</a>-->


    <!--<a class="item item-icon-left" ui-sref="picture" ng-click="changeState();">-->
        <!--<i class="icon ion-android-camera"></i>-->
        <!--Take Picture-->
    <!--</a>-->
    <a class="item item-icon-left" ng-if="loggedIn" ng-click="logout();">
        <i class="icon ion-power"></i>
        Logout
    </a>

    <div class="notifModal" ng-if="writeMsg">
        <span class="notif" >{{writeMsg}}</span>
    </div>

</div>