<ion-view >
    <div class="bar bar-header">
        <button class="button button-icon icon ion-ios-home" ui-sref="form"></button>
        <h1 class="title">nLocate Spots | Take Picture</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showOptionList();"></button>
    </div>

    <ion-content overflow-scroll="true">
        <div ng-if="showFullMap" ng-include="'templates/map.html'"></div>
        <div ng-if="showOptions" ng-include="'templates/options.html'"></div>
        <div class="list" ng-if="!showFullMap && !showOptions">

            <label class="item item-input item-stacked-label">
                <div class="center">
                <button class="button icon-left ion-android-locate " ng-click="getCurrentLocation();">Get Location</button>
                </div>
                <div class="row">
                        <div class="col">
                            <span class="input-label">Latitude</span>
                            <input type="number" placeholder={{latitude}} ng-model="spots.latitude" disabled>
                        </div>
                        <div class="col">
                        <span class="input-label">Longitude</span>
                        <input type="number" placeholder={{longitude}} ng-model="spots.longitude" disabled>
                        </div>
                </div>
            </label>

                <button class="button button-full button-positive icon ion-android-navigate" ng-if="locationAayo" ng-click="showMap();">
                View on Map
                </button>
            <br>
                <div class="center">
                    <button class="button button-assertive" ng-click="app.takePicture();">Take a Picture</button>
                </div>
            <div >
                <div ng-repeat="img in spots.image" style="float: left; padding: 5px 10px; ">
                    <img  style="width:150px;"  ng-src="{{img}}" />
                </div>
            </div>
        </div>
        <button class="button button-full button-balanced" ng-click="saveData(spots);">Save</button>
    </ion-content>

</ion-view>