<ion-view view-title="At last">
    <div class="bar bar-header">
        <h1 class="title">Review Spot</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showOptionList();"></button>
    </div>
    <ion-content overflow-scroll="true">
        <div ng-if="showOptions" ng-include="'templates/options.html'"></div>
        <div class="list" ng-if="!showOptions">
            <label class="item item-input item-select">
                <div class="input-label">
                    Type of Structure
                </div>
                <select ng-model="spots.structure" ng-options="structure for structure in structures">
                    <option value=""> Select a type </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Type of Building
                </div>
                <select ng-model="spots.building" ng-options="building for building in buildings">
                    <option value=""> Select a type </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Level of Damage
                </div>
                <select ng-model="spots.damage" ng-options="damage for damage in damages">
                    <option value=""> Select a level </option>
                </select>
            </label>

            <label class="item item-input item-stacked-label">
                <div class="center">
                    <button class="button icon-left ion-android-locate " ng-click="getCurrentLocation();">Get Location</button>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="input-label">Latitude</span>
                        <input type="number" placeholder={{latitude}} ng-model="spots.latitude" disabled>
                    </div>
                    <div class="col">
                        <span class="input-label">Longitude</span>
                        <input type="number" placeholder={{longitude}} ng-model="spots.longitude" disabled>
                    </div>
                </div>
            </label>

            <!--<button class="button button-full button-positive icon ion-android-navigate" ng-if="locationAayo" ng-click="showMap();">-->
            <!--View on Map-->
            <!--</button>-->
            <br>
            <div class="center">
                <button class="button button-assertive" ng-click="app.takePicture();">Take a Picture</button>
            </div>
            <div >
                <div ng-repeat="img in spots.image" style="float: left; padding: 5px 10px; ">
                    <img  style="width:150px; height:150px;"  ng-src="{{img}}" />
                </div>
            </div>



            <!--<div class="item item-divider">-->
                    <!--Business Info-->
                <!--</div>-->
                <!--<div class="item" >-->
                <!--Name: {{spots.name}}-->
                <!--</div>-->
                <!--<div class="item">-->
                <!--Address: {{spots.address}}-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--Landmark: {{spots.landmark}}-->
                <!--</div>-->
                <!--<div class="item" >-->
                    <!--Category: {{spots.categories}}-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--Location: {{spots.latitude}},{{spots.longitude}}-->
                <!--</div>-->
                <!--<div class="item item-divider">-->
                    <!--Business Contact Details-->
                <!--</div>-->
                <!--<div class="item" >-->
                    <!--Contact No: {{spots.contact}}-->
                <!--</div>-->
            <!--<div class="item" >-->
                <!--Email: {{spots.email}}-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--Website: {{spots.website}}-->
            <!--</div>-->
            <!--<div class="item item-divider">-->
                <!--Owner Contact Details-->
            <!--</div>-->
            <!--<div class="item" >-->
                <!--Name: {{spots.owner}}-->
            <!--</div>-->
            <!--<div class="item" >-->
                <!--Contact No: {{spots.contact}}-->
            <!--</div>-->
            <!--<div class="item" >-->
                <!--Email: {{spots.email}}-->
            <!--</div>-->
            <!--<div class="item item-divider">-->
                <!--Additional Info-->
            <!--</div>-->
            <!--<div class="item" style="white-space: normal;" >-->
                <!--Note: {{spots.notes}}-->
            <!--</div>-->
            <!--<div class="item" >-->
                <!--<div ng-repeat="img in spots.image" style="float: left; padding: 5px 10px; ">-->
                    <!--<img  style="width:150px; height:150px;"  ng-src="{{img}}" />-->
                <!--</div>-->
            <!--</div>-->

        </div>

        <button class="button button-block button-balanced" ng-click="saveData(spots);">
            Save
        </button>
        <button class="button button-block button-assertive" ui-sref="form">
            Cancel
        </button>

    </ion-content>


</ion-view>