<ion-view >
    <div class="bar bar-header">
        <button class="button button-icon icon ion-ios-home" ui-sref="form"></button>
        <h1 class="title">nLocate Spots List</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showOptionList();"></button>
    </div>

    <ion-content overflow-scroll="true">
        <div ng-if="showOptions" ng-include="'templates/options.html'"></div>
        <div ng-if="!showOptions">
            <div style="text-align: center;"> <button style="color:#00528c;" class="button button-icon icon ion-refresh" ng-click="reloadData();"> Refresh</button></div>
        <div class="list card" ng-repeat ="spot in syncList" ng-init="i=$index" >
            <div class="item item-avatar" style="padding-left:0px;">
                <div class="row">
                    <div class="col-66 item-avatar" style="padding-left:60px;">
                        <img src="icon.png">
                        <h2>{{spot.name}}</h2>
                        <p>{{spot.address}}</p>
                    </div>
                    <div class="col-34" style="text-align: right;">
                        <!--<button class="button button-icon icon ion-edit" ng-click=""></button>-->
                        <!--<span class=""><i class="ion-checkmark-circled" style="font-size:smaller; color: green;"></i></span>-->
                        <button class="button button-icon icon ion-trash-a" ng-click="delete(spot);"></button>
                        <!--<select style="border: none;" ng-model="action" ng-change="onSelect(action, i)" ng-options="action as action.option for action in actions">-->
                            <!--&lt;!&ndash;<option value="" ng-if="!action"></option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option>Edit</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option>Delete</option>&ndash;&gt;-->
                        <!--</select>-->
                    </div>
                </div>
            </div>

            <div class="item item-body">

                <!--<img class="full-image" src="cover.jpg" ng-if="!spot.image">-->
                <div ng-repeat="img in spot.image" style=" width:50%; float:left;">
                    <img  style="width:100%; padding:5px;"  ng-src="{{img.name}}" />
                </div>
                <p>
                    Location<a href="#" class="subdued">: {{spot.latitude}},{{spot.longitude}}</a>
                    Contact<a href="#" class="subdued">: {{spot.contact}}</a><br/>
                    Email<a href="#" class="subdued">: {{spot.email}}</a><br/>
                    Website<a href="#" class="subdued">: {{spot.website}}</a><br/>
                </p>
                <p>Description<br/>
                    {{spot.notes}}
                </p>
            </div>

        </div>
        <button class="button button-full button-balanced" ui-sref="sync" ui-sref-opts="{reload: true}">Sync Now</button>
        </div>
    </ion-content>

</ion-view>