<ion-view >
    <div class="bar bar-header">
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="cancelSync();"></button>
        <h1 class="title">nLocate Spots Sync</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showOptionList();"></button>
    </div>
    <div ng-if="showOptions" ng-include="'templates/options.html'" style="margin-top:43px;"></div>

    <ion-content >
        <div  ng-if="!showOptions">
            <div ng-if="showOptions" ng-include="'templates/options.html'"></div>
            <ul class="list">
                <!--<li class="item" >-->
                Syncing list{{syncingList}}
                <div class="row item" style="margin-top:0px; padding: 0px;" ng-repeat ="spot in syncingList">

                    <div class="col-50" style="margin:10px;">
                                <h2>{{spot.name}} </h2>
                                <p>{{spot.address}}</p>
                    </div>

                    <div class="col-50" style="text-align: right;" ng-if="!syncList[$index].syncStatus && !syncList[$index].errMsg">

                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>

                    <div class="col-50" style="margin-left:25%; margin-top:10px; font-size: xx-large;" ng-if="syncList[$index].syncStatus">
                        <div class=" icon ion-checkmark-round" ></div>
                    </div>
                    <div class="col-50" style="margin-top:10px; " ng-if="!syncList[$index].syncStatus && errMsg">
                        <p style="color: red; text-overflow: initial;  overflow: visible; white-space: normal; margin-right: 15px;" >{{errMsg}}</p>
                    </div>

                </div>

                <!--</li>-->
            </ul>

            <button class="button button-full button-balanced" ui-sref="form" ui-sref-opts="{reload: true}">Take me home</button>

        </div>

    </ion-content>

</ion-view>