<ion-view >
    <div class="bar bar-header">
        <button class="button button-icon icon ion-ios-home" ui-sref="form"></button>
        <h1 class="title">nLocate Spots Sync</h1>
        <button class="button button-icon icon ion-navicon" ng-click="showOptionList();"></button>
    </div>
    <div ng-if="showOptions" ng-include="'templates/options.html'" style="margin-top:43px;"></div>
        <div class="bar bar-subheader" ng-if="!showOptions">
            <div class="row" style="margin-top:0px; padding: 0px;">
                <div class="col-33">
                    <!--<div class="row">-->
                    <!--<div class="col-20" style="margin-top: -6px;">-->
                    <ul class="list">
                        <li class="item-checkbox" style=" margin-top:5px;">
                         <label class="checkbox" style="width: 50%; left:-8px;">
                             <span class="countBox" ng-if="total">{{total}}</span>
                            <input type="checkbox" ng-checked="selectedAll" ng-click="checkAll()">

                         </label>
                    <!--</div>-->
                    <!--<div class="col-80" style="padding: 4px 1px;">-->
                             Select All
                        </li>
                    </ul>
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="col-34"  style="text-align: center;"><button style="color:#00528c;" class="button button-icon icon ion-refresh" ng-click="reloadData();"><div class="hideGaram">Reload </div></button></div>
                <div class="col-33 right" style="text-align: right; font-size: small;">
                    <button class="button button-icon icon ion-ios-shuffle" ng-click="startSync();"> Sync Now</button>
                </div>
            </div>
        </div>

    <ion-content overflow-scroll="true" >
        <div style="margin-top: 43px;" ng-if="!showOptions">
        <div ng-if="showOptions" ng-include="'templates/options.html'"></div>
        <ul class="list">
            <div class="row responsive-sm item" ng-repeat ="spot in syncList">
                <div class="row">
                <div class="item item-checkbox col-60" style="width: 60%" >
                    <label class="checkbox">
                        <input type="checkbox" ng-model="spot.Selected">
                    </label>
                    <h2>{{spot.name}}</h2>
                    <!--<p>{{spot.address}}</p>-->
                    <div style="font-size: small;">
                        <span class="imageUploding" style="margin-right: 25px; position: relative;" ng-repeat="img in spot.image">
                        <!--<span class="imageUploding" style="margin-right: 25px;" >-->
                            <ion-spinner icon="android" style="position: absolute;  top: -2px;  left: -5px;" ng-if="img.uploadingImage">
                            </ion-spinner>
                            <!--<ion-spinner icon="android" style="position: absolute; display:none; top: -1px;  right: -20px;" ng-if="!img.uploadingImage">-->
                            <!--</ion-spinner>-->
                            <span class="errorUploading" ng-if="img.uploadError"><i class="ion ion-information-circled"></i></span>
                            <span class="uploadSuccess" ng-if="img.uploadedImage"><i class="ion ion-checkmark-circled"></i></span>
                            <!--<img class="img-list" ng-src="{{img.name}}">-->
                            <img class="img-list" src="img/house.jpg">
                        </span>
                        <!--<span class="imageUploading" >-->
                            <!--<ion-spinner icon="android" ng-if="" style="position: absolute;  top: -1px;  right: -20px;">-->
                        <!--</ion-spinner>-->
                            <!--<span class="errorUploading" ><i class="ion ion-information-circled"></i></span>-->
                            <!--<!--<span class="uploadSuccess"><i class="ion ion-checkmark-circled"></i></span>-->

                            <!--<img class="img-list" src="/img/relief.jpg" >-->
                        <!--</span>-->
                        <!--<span class="imageUploading" >-->
                            <!--<ion-spinner icon="dots" style="position: absolute; display:none; top: -1px;  right: -20px;">-->
                            <!--</ion-spinner>-->
                            <!--<span class="errorUploading" ng-if=""></span>-->
                            <!--<span class="uploadSuccess" ><i class="ion ion-checkmark-circled"></i></span>-->

                            <!--<img class="img-list" src="/img/relief.jpg" >-->
                        <!--</span>-->

                        <!--<span class="uploadStatus">{{uploadStatus}}</span>-->
                    </div>
                </div>
                <div class="col-40" style="text-align: right; width: 40%" ng-if="!syncList[$index].syncStatus && !syncList[$index].errMsg && syncList[$index].syncStart">
                <!--<div class="col-40" style="text-align: right;" >-->

                    <ion-spinner icon="android" style="">
                    </ion-spinner>
                </div>

                <div class="col-40" style="width: 40%; padding-top:25px; font-size: xx-large;" ng-if="syncList[$index].syncStatus">
                    <div class=" icon ion-checkmark-round" style="float: right;" ></div>
                </div>
                <div class="col-40" style="margin-top:10px; " ng-if="!syncList[$index].syncStatus && syncList[$index].errMsg">
                    <p style="color: red; text-overflow: initial;  overflow: visible; white-space: normal; margin-right: 15px;" ng-click="showLog($index);" >{{syncList[$index].errMsg}}</p>
                </div>
                </div>
                <div class="row responsive-sm" ng-if="spot.logDetails">
                    <p style="font-size: smaller; white-space: normal;"><div ng-repeat="log in spot.syncLog">{{log}}</div></p>
                </div>
            </div>


        </ul>
        </div>
        <script id="popup-template.html" type="text/ng-template">

        </script>
    </ion-content>

</ion-view>